.component {
  width: 100%;
}

thead {
  tr {
    cursor: pointer;
    box-shadow: 0 0 3px #0057FF;
    margin: 10px;
    th {
      padding: 10px;
    }
  }
}

tbody {
  width: 100%;
  tr {
    background-color: white;
    box-shadow: 0 0 3px #0057FF;
    td:nth-child(1) {
      width: 10%;
      padding: 10px;

    }

    td {
      img {
        width: 80%;
      }
    }
  }
}
