:root {
  --mainColor: #0057FF;
}

.component {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
}

.content {
  flex: 1;
  padding: 16px;
}

button {
  color: black;
  border: none;
  outline-color: rgba(255, 255, 255, 0);
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  transition: all linear 800ms;
  &:hover {
    outline: 1px solid var(--mainColor);
  }
  &:active {
    background-color: var(--mainColor);
    color: white;
  }
}
