:root {
  --widthButton: 130px;
}

.component {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.hidden {
  display: none;
}

.body {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.showMore {
  position: fixed;
  background-color: rgba(228, 229, 231, 0.5);
  bottom: 0;
  width: var(--widthButton);
  left: calc(50% - (var(--widthButton) / 2));
  transition: all 300ms linear;
  &:hover {
    background-color: #0057FF;
    color: white;
  }
}
