.component {
  display: flex;
  align-items: center;
  justify-content: center;
 textarea {
   width: 300px;
   height: 25px;
   text-align: center;
   resize: none;
   border-color: rgba(128, 128, 128, 0.6);
   border-radius: 3px;
   outline-color: #0057FF;
 }
}
